@model DAL.Models.Franchise

@{
    ViewBag.Title = "Editer la franchise";
}

<h2>Editer la franchise</h2>

<form name="input" action="/Franchise/Edit" method="post">
    <input type="hidden" name="franchiseId" value="@Model.ID" >
    Nom : <input type="text" value="@Model.Nom" required maxlength="99" name="franchiseName" /><br />
    <input type="submit" value="Enregistrer" /><a href="~/Franchise">Retour à la liste des franchises</a>
    </form>

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Franchise</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <p>
            <input type="submit" value="Enregistrer" />@Html.ActionLink("Retour à la liste des franchises", "Index")
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
