@model DAL.Models.Marque

@{
    ViewBag.Title = "Editer la marque";
}

<h2>Editer la marque</h2>

<form name="input" action="/Marque/Edit" method="post">
    <input type="hidden" name="marqueId" value="@Model.ID" >
    Nom : <input type="text" value="@Model.Nom" required maxlength="99" name="marqueName" /><br />
    <input type="submit" value="Enregistrer" /><a href="~/Marque">Retour à la liste des marques</a>
    </form>

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Marque</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <p>
            <input type="submit" value="Enregistrer" />@Html.ActionLink("Retour à la liste des marques", "Index")
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
