@model Simulation_garagistes.ViewModels.vmGaragiste

@{
    ViewBag.Title = "Créer un nouveau garagiste";
}
<script>
    $.datepicker.setDefaults($.datepicker.regional['fr']);
    $(function() {
        $("#datepicker1 , #datepicker2").datepicker({
            beforeShow: customRange,
            dateFormat: "dd/mm/yy"});
    });
    function customRange(input) {
        if (input.id === "datepicker1") {
            if ($("#datepicker2").datepicker("getDate") != null) {
                dateMax = $("#datepicker2").datepicker("getDate");
                return { maxDate: dateMax };
            }
        }
        if (input.id === "datepicker2") {
            if ($("#datepicker1").datepicker("getDate") != null) {
                dateMin = $("#datepicker1").datepicker("getDate");
                return { minDate: dateMin };
            }
        }
    }
</script>

<h2>Créer un nouveau garagiste</h2>

<form name="input" action="/Garagiste/Create" method="post">
Nom : <input type="text" name="garagisteName" maxlength="99" required><br />
Franchise : <select name="franchiseId">
    @foreach (var item in Model.Franchises) {
        <option value="@item.ID">@item.Nom</option>
    }
    </select><br />
Période de fermetures : <input type="text" id="datepicker1" name="fermetureBegin" readonly="readonly"> à <input type="text" id="datepicker2" name="fermetureEnd" readonly="readonly"><br />
<input type="submit" value="Enregistrer"><a href="~/Garagiste">Retour à la lsite des garagistes</a>
</form> 

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Garagiste</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
