@model Simulation_garagistes.ViewModels.vmGaragiste

@{
    ViewBag.Title = "Editer le garagiste";
}

<h2>Editer le garagiste</h2>
<form name="input" action="/Garagiste/Edit" method="post">
<input type="hidden" name="garagisteId" value="@Model.ID" >
Nom : <input type="text" name="garagisteName" value="@Model.Nom" maxlength="99" required><br />
Franchise : <select name="franchiseId">
    @foreach (var item in Model.Franchises) {
        <option value="@item.ID" @((item.ID==Model.Franchise.ID) ? "selected" : "" )>@item.Nom</option>
    }
    </select><br />
Périodes de Fermetures
    @if(Model.PeriodeFermetures.Count==0){
                <p>Aucune période enregistrée </p>
            }
            else{
                foreach (var periode in Model.PeriodeFermetures)
                {
                    <p>@periode.DateDebut.Day/@periode.DateDebut.Month/@periode.DateDebut.Year au @periode.DateFin.Day/@periode.DateFin.Month/@periode.DateFin.Year <a href="~/Garagiste/SupprimerPeriode/@periode.ID">X</a></p>
                }
            }
Ajouter une période : <input type="text" id="datepicker1" name="fermetureBegin" readonly="readonly"> à <input type="text" id="datepicker2" name="fermetureEnd" readonly="readonly"><br />
<input type="submit" value="Enregistrer"><a href="~/Garagiste">Retour à la liste des garagistes</a>
</form> 
<script>
    $.datepicker.setDefaults($.datepicker.regional['fr']);
    $(function() {
        $("#datepicker1 , #datepicker2").datepicker({
            beforeShow: customRange,
            dateFormat: "dd/mm/yy"});
    });
    function customRange(input) {
        if (input.id === "datepicker1") {
            if ($("#datepicker2").datepicker("getDate") != null) {
                dateMax = $("#datepicker2").datepicker("getDate");
                return { maxDate: dateMax };
            }
        }
        if (input.id === "datepicker2") {
            if ($("#datepicker1").datepicker("getDate") != null) {
                dateMin = $("#datepicker1").datepicker("getDate");
                return { minDate: dateMin };
            }
        }
    }
</script>
@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Garagiste</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
