@model Simulation_garagistes.ViewModels.vmRevision

@{
    ViewBag.Title = "Créer une nouvelle révision";
}

<h2>Créer une nouvelle révision</h2>

<form name="input" action="/Revision/Create" method="post">
Libellé : <input type="text" name="revisionName"><br />
Kilométrage : <input type="text" name="revisionKm"><br />
Durée d'intervention :
<input type="number" id="hours" name="revisionDureeH" value="0" min="0" max="8" style="width:50px;"/>h<input type="number" id="minutes" name="revisionDureeM" value="0" min="0" max="60" style="width:50px;"/>min<br />
@*<input type="number" min="0" max="8" />h <input type="number" min="0" max="60" />min <input type="text" name="revisionDuree"><br />*@

Marque : <select name="marqueId">
    <option value="-1" selected>Aucune marque</option>
    @foreach (var item in Model.Marques) {        
            <option value="@item.ID" >@item.Nom</option>
    }
    </select><br />
Modèle : <select name="modeleId">
        <option value="-1" selected>Aucun modèle</option>
    @foreach (var item in Model.Modeles) {
            <option value="@item.ID" >@item.Nom</option>
    }
    </select><br />
<input type="submit" value="Enregistrer"><a href="~/Revision">Retour à la liste des révisions</a>
</form> 

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Revision</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Libelle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Libelle)
            @Html.ValidationMessageFor(model => model.Libelle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Kilometrage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Kilometrage)
            @Html.ValidationMessageFor(model => model.Kilometrage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DureeIntervention)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DureeIntervention)
            @Html.ValidationMessageFor(model => model.DureeIntervention)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
