@model Simulation_garagistes.ViewModels.vmRevision

@{
    ViewBag.Title = "Créer une nouvelle révision";
}

<h2>Créer une nouvelle révision</h2>
<br />
<form name="input" action="/Revision/Create" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-2 control-label">Libellé</label>
        <div class="col-sm-5">
            <input type="text" name="revisionName" class="form-control" required="required">
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Kilométrage</label>
        <div class="col-sm-5">
            <input type="number" min="0" name="revisionKm" class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Durée d'intervention</label>
        <div class="col-lg-10" style="margin-left: -15px;">

            <div class="col-lg-3">
                <input type="number" id="hours" name="revisionDureeH" value="@Model.DureeIntervention.Hours" min="0" max="8" class="form-control" />h
            </div>
            <div class="col-lg-3">
                <input type="number" id="minutes" name="revisionDureeM" value="@Model.DureeIntervention.Minutes" min="0" max="60" class="form-control"/>min
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Marque</label>
        <div class="col-sm-5">
            <select name="marqueId" class="form-control">
                <option value="-1" selected>Aucune marque</option>
                @foreach (var item in Model.Marques)
                {        
                    <option value="@item.ID" >@item.Nom</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Modèle</label>
        <div class="col-sm-5">
            <select name="modeleId" class="form-control">
                <option value="-1" selected>Aucun modèle</option>
                @foreach (var item in Model.Modeles)
                {
                    <option value="@item.ID" >@item.Nom</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input type="submit" value="Enregistrer" class="btn btn-default">
        </div>
    </div>
</form>

<a href="~/Revision">Retour à la liste des révisions</a>
