@model DAL.Models.Revision

@{
    ViewBag.Title = "Supprimer une révision";
}

<h2>Supprimer la révision @Model.Libelle</h2>

<h3>Etes vous sûre de vouloir supprimer cette révision</h3>
<h4>Kilométrage</h4>
@Model.Kilometrage
<h4>Durée d'intervention</h4>
@Model.DureeIntervention
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Supprimer" />@Html.ActionLink("Retour à la liste des révisions", "Index")
    </p>
}
