@model IEnumerable<DAL.Models.Revision>

@{
    ViewBag.Title = "Liste des révisions";
}

<h2>Liste des révisions</h2>
@if (Request.IsAuthenticated) {
<p>
    @Html.ActionLink("Créer une nouvelle révision", "Create")
</p>
}
<table class="table table-striped">
    <tr>
        <th>
            Libellé
        </th>        
        <th>
            Kilométrage
        </th>
        <th>
            Marque/Modèle
        </th>
        <th>
            Durée d'intervention
        </th>
        @if (Request.IsAuthenticated) {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Libelle
        </td>
        <td>
            @item.Kilometrage
        </td>
        <td>
            @if (item.Marque == null && @item.Modele == null){
                <p>Aucune marque ou modèle associée</p>
            }
            else if (item.Marque == null){
                <p>@item.Modele.Nom</p>
            }
            else if (item.Modele == null){
                <p>@item.Marque.Nom</p>
            }
            else{
                <p>@item.Marque.Nom / @item.Modele.Nom</p>
            }
        </td>        
        <td>
            @item.DureeIntervention.Hours h @item.DureeIntervention.Minutes min
        </td>
        @if (Request.IsAuthenticated) {
        <td>
            @Html.ActionLink("Editer", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID })
        </td>
        }
    </tr>
}

</table>
