@model DAL.Models.Modele

@{
    ViewBag.Title = "Supprimer un modèle";
}

<h2>Supprimer le modèle @Model.Nom</h2>

<h3>Etes vous sûre de vouloir supprimer ce modèle ?</h3>
@*<fieldset>
    <legend>Modele</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>
</fieldset>*@
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Supprimer" /> |
        @Html.ActionLink("Retour à la liste des modèles", "Index")
    </p>
}
