@model Simulation_garagistes.ViewModels.vmModele

@{
    ViewBag.Title = "Editer le modèle";
}

<h2>Editer le modèle</h2>
<br />

<form name="input" action="/Modele/Edit" method="post" class="form-horizontal" role="form">
    <input type="hidden" name="modeleId" value="@Model.ID" >

    <div class="form-group">
        <label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-5">
            <input type="text" name="modeleName" value="@Model.Nom" maxlength="99" class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Marque</label>
        <div class="col-sm-5">
            <select name="marqueId" class="form-control">
                @foreach (var item in Model.Marques)
                {
                    <option value="@item.ID" @((item.ID == Model.Marque.ID) ? "selected" : "")>@item.Nom</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input type="submit" value="Enregistrer" class="btn btn-default">
        </div>
    </div>
</form>

<a href="~/Modele">Retour à la liste des modèles</a>

