@model Simulation_garagistes.ViewModels.vmModele

@{
    ViewBag.Title = "Editer le modèle";
}

<h2>Editer le modèle</h2>

<form name="input" action="/Modele/Edit" method="post">
<input type="hidden" name="modeleId" value="@Model.ID" >
Nom : <input type="text" name="modeleName" value="@Model.Nom" maxlength="99" required><br />
Marque : <select name="marqueId">
    @foreach (var item in Model.Marques) {
        <option value="@item.ID" @((item.ID==Model.Marque.ID) ? "selected" : "" )>@item.Nom</option>
    }
    </select><br />
<input type="submit" value="Enregistrer"><a href="~/Modele">Retour à la liste des modèles</a>
</form> 

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Modele</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
